.works-tab {
  background-color: white;
  height: 70px;
  width: 70%;
  margin: 10px 20px;
  background: linear-gradient(to right,orange,black);
  border-radius: 20px;
  padding: 20px 10px;
}

.title,
.title-2,
.title-3 {
  font-weight: bold;
  font-size: 40px;
  color: black;
}



